<div class='title'>SEARCH COURSES</div>
<div class='container' id="search-form">
    <div class="search">
      <input type="text" name="search" class="round" placeholder="Search"/>
      <i class="fas fa-search corner" routerLink="/search" routerLinkActive="active-pill"></i>
    </div>
</div>
<div class="container">
  <div class="row options">
    <div class="col option top">TOP</div>
    <div class="col option">FIELD</div>
    <div class="col option">UNIVERSITY</div>
    <div class="col option">LOCATION</div>
  </div>
  <div class="row">
    <div class="col-12" style="margin-top:20px;" (click)="goTo();">
      <div class="subject">
        <div class="sub_title blue">ADVANCED MARKETING</div>
        <div class="sub_uni">
          HARVARD BUSINESS SCHOOL
        </div>
      </div>
    </div>
    <div class="col-12" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title red" >OBJECT ORIENTED PROGRAMMING</div>
          <div class="sub_uni">
            BUENOS AIRES INSTITUTE OF TECHNOLOGY
          </div>
        </div>
    </div>
    <div class="col-12" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title yellow" >ALGORYTHMS AND DATA STRUCTURES</div>
          <div class="sub_uni">
            MASSACHUSETS INSTITUTE OF TECHNOLOGY
          </div>
        </div>
    </div>
    <div class="col-12" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title black" >WEB DESIGN</div>
          <div class="sub_uni">
            STANFORD UNIVERSITY
          </div>
        </div>
    </div>
    <div class="col-12" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title green" >MACHINE LEARNING</div>
          <div class="sub_uni">
            UNIVERSITY OF
            PENNSYLVANIA
          </div>
        </div>
    </div>
    <div class="col-12" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title white" >MACHINE LEARNING</div>
          <div class="sub_uni">
            BUENOS AIRES INSTITUTE OF TECHNOLOGY
          </div>
        </div>
    </div>
  </div>
</div>
