@font-face {
font-family: bebasBold;
src: url(./../../../assets/fonts/BebasNeue-Bold.otf);
}
@font-face {
font-family: bebasLight;
src: url(./../../../assets/fonts/BebasNeue-Light.otf);
}
@font-face {
font-family: bebasRegular;
src: url(./../../../assets/fonts/BebasNeue-Regular.otf);
}

.container {
  margin-top: 0;
}

.title {
  width: 100%;
  text-align: left;
  color: #333;
  padding: 10px 0 0 20px;
  font-size: 40px;
  font-weight: bold;
  font-family: bebasBold;
 }

 .round {
     width: 100%;
     border-radius: 15px;
     padding: 1px 5px 1px 32px;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 5;
     color: #333;
     background: #eee;
     margin: auto;
     height: 40px;
 }

 .corner {
     position: absolute;
     top: 25%;
     left: 10px;
     height: 20px;
     width: 20px;
     z-index: 10;
     border-radius: 10px;
     border: none;
     color: #333;
 }

 .search {
     position: relative;
     width: 350px;
     height: 45px;
     color: #333;
     margin: 10px 0px;
 }

.option {
  margin-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  color: #333;
  font-family: bebasRegular;
  font-size: 20px;
  border-bottom: 1px solid grey;
}

.options {
  margin-bottom: 10px;
}

.top {
  color: black;
  font-size: 20px;
  font-family: bebasBold;
  border-bottom: 3px solid black;
}
.col-12 {
  margin-top: 5px !important;
  margin-bottom: 15px;
}

.subject {
   background: #eee;
   border-radius: 13px;
   overflow:hidden;
   margin: 0px;
}

.sub_title {
   width: 100%;
   padding: 10px 5px 0px 10px;
   margin: 0;
   color: #333;
   font-size: 22px;
   font-weight: bold;
   font-family: bebasRegular;
}

.blue {
  border-bottom: 3px solid #2879b5;
}

.red {
  border-bottom: 3px solid #64c1c6;
}

.yellow {
  border-bottom: 3px solid #9ccb8f;
}

.black{
  border-bottom: 3px solid #00a87a;
}

.green{
  border-bottom: 3px solid #f8b000;
}

.white{
  border-bottom: 3px solid #ec6a62;
}

.sub_uni {
  padding: 10px;
  color: #333;
  height: 60%;
  font-size: 20px;
  font-family: bebasLight;
}
