
<div class="footer" style="position:fixed;">
<div class="row">

    <div class="pill col"  >
        <i class="fas fa-home" routerLink="/" routerLinkActive="active-pill" [routerLinkActiveOptions]="{exact:
          true}"></i>
      
    </div>
    <div class="pill col"   >
        <i class="fas fa-search" routerLink="/search" routerLinkActive="active-pill"></i>
      
    </div>
    <div class="pill col"   >
        <i class="fas fa-clipboard-list" routerLink="/academicRecords" routerLinkActive="active-pill"></i>
      
    </div>
    <div class="pill col"   >
        <i class="far fa-user"  routerLink="/profile" routerLinkActive="active-pill"></i>
      
    </div>

</div>
  </div>  
 
