.round {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 1px 5px 1px 32px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.corner {
    position: absolute;
    top: 25%;
    left: 10px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border-radius: 10px;
    border: none;

    /* background: #000; Set the bg image here. with "no-repeat" */
}

.search {
    position: relative;
    width: 190px;
    height: 30px;
}
