

<div class='title'>ACADEMIC RECORD</div>
<div class='line'>2018</div>
<div class="container">
  <div class="row">
    <div class="col-6" style="margin-top:20px;" >
      <div class="subject">
        <div class="sub_title blue">ALGORITHMS 2</div>
        <div class="sub_uni">
          UNIVERSITY OF
          PENNSYLVANIA
        </div>
      </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title red" >MATHEMATICS 1</div>
          <div class="sub_uni">
            BUENOS AIRES INSTITUTE OF TECHNOLOGY
          </div>
        </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title yellow" >MATHEMATICS 2</div>
          <div class="sub_uni">
            UNIVERSITY OF BUENOS AIRES
          </div>
        </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title black" >ECONOMICS</div>
          <div class="sub_uni">
            UNIVERSITY OF
            PENNSYLVANIA
          </div>
        </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title green" >PHYSICS</div>
          <div class="sub_uni">
            UNIVERSITY OF BUENOS AIRES
          </div>
        </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title white" >MATHEMATICS 3</div>
          <div class="sub_uni">
            BUENOS AIRES INSTITUTE OF TECHNOLOGY
          </div>
        </div>
    </div>
  </div>
</div>
<div class='line'>2017</div>
<div class="container">
  <div class="row">
    <div class="col-6" style="margin-top:20px;" >
      <div class="subject">
        <div class="sub_title blue">WEB DESIGN</div>
        <div class="sub_uni">
          UNIVERSITY OF BELGRANO
        </div>
      </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title red" >PYTHON COURSE</div>
          <div class="sub_uni">
            UNIVERSITY OF BELGRANO
          </div>
        </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title yellow" >OPERATIVE SYSTEMS</div>
          <div class="sub_uni">
            UNIVERSITY OF
            PENNSYLVANIA
          </div>
        </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title black" >3D MODELING</div>
          <div class="sub_uni">
            BUENOS AIRES INSTITUTE OF TECHNOLOGY
          </div>
        </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title green" >ALGORITHMS 1</div>
          <div class="sub_uni">
            BUENOS AIRES INSTITUTE OF TECHNOLOGY
          </div>
        </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title white" >CHEMISTRY</div>
          <div class="sub_uni">
            BUENOS AIRES INSTITUTE OF TECHNOLOGY
          </div>
        </div>
    </div>
  </div>
</div>
