

<div class='title'>ACADEMIC RECORD</div>
<div class='line'>2018</div>
<div class="container">
  <div class="row">
    <div class="col-6" style="margin-top:20px;" >
      <div class="subject">
        <div class="sub_title">MACHINE LEARNING</div>
        <div class="sub_uni">
          UNIVERSITY OF
          PENNSYLVANIA
        </div>
      </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title" >MACHINE LEARNING</div>
          <div class="sub_uni">
            UNIVERSITY OF
            PENNSYLVANIA
          </div>
        </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title" >MACHINE LEARNING</div>
          <div class="sub_uni">
            UNIVERSITY OF
            PENNSYLVANIA
          </div>
        </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title" >MACHINE LEARNING</div>
          <div class="sub_uni">
            UNIVERSITY OF
            PENNSYLVANIA
          </div>
        </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title" >MACHINE LEARNING</div>
          <div class="sub_uni">
            UNIVERSITY OF
            PENNSYLVANIA
          </div>
        </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title" >MACHINE LEARNING</div>
          <div class="sub_uni">
            UNIVERSITY OF
            PENNSYLVANIA
          </div>
        </div>
    </div>
  </div>
</div>
<div class='line'>2017</div>
<div class="container">
  <div class="row">
    <div class="col-6" style="margin-top:20px;" >
      <div class="subject">
        <div class="sub_title">MACHINE LEARNING</div>
        <div class="sub_uni">
          UNIVERSITY OF
          PENNSYLVANIA
        </div>
      </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title" >MACHINE LEARNING</div>
          <div class="sub_uni">
            UNIVERSITY OF
            PENNSYLVANIA
          </div>
        </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title" >MACHINE LEARNING</div>
          <div class="sub_uni">
            UNIVERSITY OF
            PENNSYLVANIA
          </div>
        </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title" >MACHINE LEARNING</div>
          <div class="sub_uni">
            UNIVERSITY OF
            PENNSYLVANIA
          </div>
        </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title" >MACHINE LEARNING</div>
          <div class="sub_uni">
            UNIVERSITY OF
            PENNSYLVANIA
          </div>
        </div>
    </div>
    <div class="col-6" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title" >MACHINE LEARNING</div>
          <div class="sub_uni">
            UNIVERSITY OF
            PENNSYLVANIA
          </div>
        </div>
    </div>
  </div>
</div>
