<link rel="stylesheet" type="text/css" href="home.component.css">

<div class='title'>ACADEMIC RECORD</div>
<div class='line'>CURRENT SUBJECTS</div>
<div class="row">
  <div class="col-6" style="margin-top:20px;" >
    <div class="subject">
      <div class="sub_title">MACHINE LEARNING</div>
      <div class="sub_uni">
        UNIVERSITY OF
        PENNSYLVANIA
      </div>
    </div>
  </div>
  <div class="col-6" style="margin-top:20px;">
    <div class="" style='margin-right:20px; background: #eee; height: 100%; border-radius: 30px; overflow:hidden; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)'>
        <div class="" style="width: 100%; padding: 20px; height: 40%; border-bottom: 4px solid #226597; color: #000; font-size: 14px; font-weight: bold;">MACHINE LEARNING</div>
        <div class="" style="padding: 20px; color: #000; height: 60%; font-size: 13px; font-family: tahoma;">
          UNIVERSITY OF
          PENNSYLVANIA
        </div>
      </div>
  </div>
  <div class="col-6" style="margin-top:20px;" >
      <div class="" style=' margin-left:20px; background: #eee; height: 100%; border-radius: 30px; overflow:hidden; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)'>
          <div class="" style="width: 100%; padding: 20px; height: 40%; border-bottom: 4px solid #226597; color: #000; font-size: 14px; font-weight: bold;">MACHINE LEARNING</div>
          <div class="" style="padding: 20px; color: #000; height: 60%; font-size: 13px; font-family: tahoma;">
            UNIVERSITY OF
            PENNSYLVANIA
          </div>
        </div>
  </div>
  <div class="col-6" style="margin-top:20px;">
      <div class="" style='margin-right:20px; background: #eee; height: 100%; border-radius: 30px; overflow:hidden; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)'>
          <div class="" style="width: 100%; padding: 20px; height: 40%; border-bottom: 4px solid #226597; color: #000; font-size: 14px; font-weight: bold;">MACHINE LEARNING</div>
          <div class="" style="padding: 20px; color: #000; height: 60%; font-size: 13px; font-family: tahoma;">
            UNIVERSITY OF
            PENNSYLVANIA
          </div>
        </div>
  </div>
  <div class="col-6" style="margin-top:20px;" >
      <div class="" style=' margin-left:20px; background: #eee; height: 100%; border-radius: 30px; overflow:hidden; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)'>
          <div class="" style="width: 100%; padding: 20px; height: 40%; border-bottom: 4px solid #226597; color: #000; font-size: 14px; font-weight: bold;">MACHINE LEARNING</div>
          <div class="" style="padding: 20px; color: #000; height: 60%; font-size: 13px; font-family: tahoma;">
            UNIVERSITY OF
            PENNSYLVANIA
          </div>
        </div>
  </div>
  <div class="col-6" style="margin-top:20px;">
      <div class="" style='margin-right:20px; background: #eee; height: 100%; border-radius: 30px; overflow:hidden; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)'>
          <div class="" style="width: 100%; padding: 20px; height: 40%; border-bottom: 4px solid #226597; color: #000; font-size: 14px; font-weight: bold;">MACHINE LEARNING</div>
          <div class="" style="padding: 20px; color: #000; height: 60%; font-size: 13px; font-family: tahoma;">
            UNIVERSITY OF
            PENNSYLVANIA
          </div>
        </div>
  </div>
</div>
