@font-face {
font-family: bebasBold;
src: url(./../../../assets/fonts/BebasNeue-Bold.otf);
}
@font-face {
font-family: bebasLight;
src: url(./../../../assets/fonts/BebasNeue-Light.otf);
}
@font-face {
font-family: bebasRegular;
src: url(./../../../assets/fonts/BebasNeue-Regular.otf);
}

div {
  font-family: bebasLight;
}
