<div class='title'>CURRENT COURSES</div>
<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top:20px;" >
      <div class="subject">
        <div class="sub_title">ADVANCED PHYSICS</div>
        <div class="sub_uni">
          UNIVERSITY OF BUENOS AIRES
        </div>
      </div>
    </div>
    <div class="col-12" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title" >BLOCKCHAIN AND CRYPTOCURRENCIES</div>
          <div class="sub_uni">
            BUENOS AIRES INSTITUTE OF TECHNOLOGY
          </div>
        </div>
    </div>
    <div class="col-12" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title" >IMPERATIVE PROGRAMMING</div>
          <div class="sub_uni">
            BUENOS AIRES INSTITUTE OF TECHNOLOGY
          </div>
        </div>
    </div>
    <div class="col-12" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title" >MACRO-ECONOMICS</div>
          <div class="sub_uni">
            NATIONAL UNIVERSITY OF TECHNOLOGY
          </div>
        </div>
    </div>
    <div class="col-12" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title" >ADVANCED MATHEMATICS</div>
          <div class="sub_uni">
            UNIVERSITY OF BUENOS AIRES
          </div>
        </div>
    </div>
    <div class="col-12" style="margin-top:20px;">
      <div class="subject" >
          <div class="sub_title" >MACHINE LEARNING</div>
          <div class="sub_uni">
            BUENOS AIRES INSTITUTE OF TECHNOLOGY
          </div>
        </div>
    </div>
  </div>
</div>
